.top_bar {
    height: 5.1rem;
    background-color: #6658B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#logo {
    margin-top: 20px;
    margin-left: auto;
    color: white;
    width: 10.625rem;
    height: 10.625rem;
}

.status {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.712);
    width: 50%;
    margin: auto;
    margin-top: 3.3rem;
}

#current_time{
    font-size: 0.65rem;
}




/* 리스트 용 */


/* 가장 최근 메시지 상자 */
.message{
    height: 6.8rem;
    color: white;
    background-color: #6658B1;
    border-radius: 17px;
    align-items: center;
    width: 90%;
}

.container{
    width: 100%;
}

.receive_time{
    font-size: 0.7rem;
    text-align: end;
    padding-top: 0.8375rem;
    margin-right: 2.35rem;
}

.where{
    font-size: 1.2rem;
    text-align: center;
}

.persons{
    font-size: 1.2rem;
    text-align: start;
}

.where,.persons{
    margin-left: 1.5625rem;
}

.msg_list{
    margin-top: 5.625rem;
    list-style-type: none;
}

li{
    list-style-type: none;
}


/* 이전 메시지 상자 */


.old_message{
    height: 6.8rem;
    color: white;
    background-color: #D9D9D9;
    border-radius: 17px;
    align-items: center;
    width: 90%;
}

.container{
    width: 100%;
}

.old_receive_time{
    color: black;
    font-size: 0.7rem;
    text-align: end;
    padding-top: 0.8375rem;
    margin-right: 2.35rem;
}

.old_where{
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

.old_persons{
    color: black;
    font-size: 1.2rem;
    text-align: start;
}

.old_where,.old_persons{
    margin-left: 1.5625rem;
}










